html{
    /* background-color: #ffffff; */
    overflow:hidden;
}
/* for the 3D model of the stepchild */
canvas{
    position:absolute;
    top:-130px;
    right:-100px;
    z-index: -1;
    background:transparent;
}

#me{
    display:block;
    position:absolute;
    width:10%;
    margin:0;
    border:0;
}
#me img{
    width:100%;
}
/* title of page */
#title{
    top:0;
    margin:0;
    height:auto;
    display:block;
}
#title a{
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:8.85vh;
    font-weight:900;
    text-decoration:none;
    color:black;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
}
#title a:hover{
    color:blue;
    transition:0.2s;
}

#header{
    position:absolute;
    display:block;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900;
    font-size:4.85vh;
    left:300px;
    text-align:right;
    top:20px;
    max-width:600px;
}
#header a{
    padding:10px;
    transition:0.5s;
}
#header a:hover{
    color:black;
    cursor:pointer;
}


/* so links won't go purple */
a{
    color:blue;
}

/* links to other sites */
#external_links{
    position:absolute;
    display:block;
    bottom:0;
    left:0;
    width:10%;
    text-align:center;
    
}
#external_links a{
    color:black;
    font-family: 'JetBrains Mono', monospace;
    font-size:12px;
    font-weight:800;
    text-decoration:none;
}
#external_links a:hover{
    transition:0.2s;
    color:blue;
    cursor:pointer;
}

/* contact icons */
#external_links img{
    left:0;
    width:40px;
    display:block;
    /* margin:auto; */
    padding:10px;
}
/* div holding the blog post */
#blog_post{
    font-size       : 12px;
    font-family     : "courier", sans-serif;
    display:block;
    position:absolute;
    width:90%;
    height:90%;
    margin:0;
    border:0;
    right:0%;
    /* right:0; */
    bottom:0;
    z-index:-1;
}
/* turning off the iframe border */
iframe{
    border:none;
    top:0;
    /* border:solid; */
    width:100%;
    height:100%;
    margin:auto;
}
