body{
    display:block;
    background:transparent;
    color:black;
    padding:0;
    margin:0;
}

/* the big container holding everything starts a little ways down the page */
#container{
    top:5%;
    position:absolute;
    display:block;
    width:100%;
    margin:0;
    border:0;
    /* left:0; */
}
/* icon holds the image, the title, and the subtitle */
.icon{
    display:block;
    position:relative;
    /* width:44%; */
    width:60%;
    min-width:200px;
    /* height:22%; */
    height:fit-content;
    float:left;
    margin:3%;
    left:0;
    transition:0.1s;
}

.icon img{
    display:block;
    width:50%;
    height:100%;
}

.icon:hover{
    box-shadow: 8px 8px rgb(255,0,0),16px 16px rgb(0,255,0),24px 24px rgb(0,0,255);
}
.icon .description{
    display:block;
    position:absolute;
    width:50%;
    height:100%;
    /* margin:auto; */
    /* padding:10px; */
    top:0;
    right:0;
    z-index:-1;
    transition: 0.1s;
}
.icon .description:hover{
    opacity:1;
}
.icon .description .title{
    display:block;
    font-size: 3vw;
    font-style:italic;
    color:blue;
    padding-left:10px;
    /* text-align:center; */
}
.icon .description .subtitle{
    display:block;
    font-size: 2vw;
    padding-left:10px;
    color:black;
}
