@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body{
    display:block;
    background:transparent;
    color:black;
    padding:0;
    margin:0;
}

/* the big container holding everything starts a little ways down the page */
#container{
    top:5%;
    position:absolute;
    display:block;
    width:100%;
    margin:0;
    border:0;
    /* left:0; */
}
/* icon holds the image, the title, and the subtitle */
.icon{
    display:block;
    position:relative;
    margin:auto;
    padding-bottom:10px;
    /* width:44%; */
    width:80%;
    min-width:200px;
    max-width:400px;
    /* height:22%; */
    height:fit-content;
    float:left;
    /* margin:3%; */
    left:0;
    transition:0.1s;
}

.icon img{
    display:block;
    width:40%;
    height:100%;
}

.icon:hover{
    /* box-shadow: 8px 8px rgb(255,0,0),16px 16px rgb(0,255,0),24px 24px rgb(0,0,255); */
    box-shadow:8px 8px rgb(80,80,80);
}
.icon .description{
    display:block;
    position:absolute;
    width:60%;
    height:100%;
    /* margin:auto; */
    /* padding:10px; */
    top:0;
    right:0;
    z-index:-1;
    transition: 0.1s;
}
.icon .description:hover{
    opacity:1;
}
.icon .description .title{
    display:block;
    font-size: 14pt;
    font-family:nunito;
    color:blue;
    padding-left:10px;
    /* text-align:center; */
}
.icon .description .subtitle{
    display:block;
    font-family:nunito;
    font-size: 10pt;
    padding-left:10px;
    /* color:black; */
    color:rgb(50,50,50);
}
.icon .description .date{
    font-family: 'JetBrains Mono', monospace;
    display:block;
    position:absolute;
    right:10px;
    color:rgb(50,50,50);
    font-size:10pt;
}
