@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    display:block;
    /* background:transparent; */
    color:black;
    padding-top:10px;
    padding-bottom:10px;
    /* making sure everything is aligned to the left */
    padding-left:0;
    margin-left:0;
    overflow-x:hidden;
}

/* the big container holding everything starts a little ways down the page */
#container{
    position:absolute;
    display:block;
    width:100%;
    margin:0;
    border:0;
}
/* icon holds the image, the title, and the subtitle */
.icon{
    display:block;
    position:relative;
    margin-left:0;
    padding-left:0;
    margin-bottom:10px;
    width:100%;
    min-width:300px;
    max-width:800px;
    transition:0.1s;
}

.icon img{
    display:block;
    width:40%;
    height:100%;
    border-radius:10px;
}

.icon:hover{
    /* box-shadow: 8px 8px rgb(255,0,0),16px 16px rgb(0,255,0),24px 24px rgb(0,0,255); */
    opacity:60%;
}
.icon .description{
    display:block;
    position:absolute;
    width:60%;
    max-width:480px;
    height:100%;
    top:0;
    right:0;
    transition: 0.1s;
    color:black;
}
.icon .description:hover{
}
.icon .description .title{
    display:block;
    /* font-size: 14pt; */
    font-size:5vw;
    /* font-family:EB Garamond; */
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: 'Karla', sans-serif; */
    /* font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight:900;
    color:blue;
    padding-left:10px;
    margin-top:0;
    margin-bottom:0;
    /* text-decoration:underline; */
    /* text-align:center; */
}
.icon .description .subtitle{
    display:block;
    font-family:nunito;
    /* font-size: 10pt; */
    font-size:2.5vw;
    padding-left:10px;
    /* color:black; */
    color:rgb(0,0,0);
    margin-bottom:0;
    margin-top:0;
}
.icon .description .date{
    font-family: 'JetBrains Mono', monospace;
    display:block;
    position:absolute;
    right:10px;
    color:rgb(150,150,200);
    /* font-size:10pt; */
    font-size:2.2vw;
    margin-top:0;
    margin-bottom:0;
}
