.DS_Store
.DS_Store
projects/.DS_Store
projects/.DS_Store
digital/dog_song_1.24.24/IMG_4678.MOV
digital/dog_song_1.24.24/IMG_4677.MOV
digital/dog_song_1.24.24/IMG_4673.MOV
digital/dog_song_1.24.24/IMG_4648.MOV
.DS_Store
.DS_Store
.DS_Store