html{
  /* background:blue; */
  /* background-image: url('https://alexlafetra.github.io/images/backgrounds/background1.jpg'); */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width:100%;
  height:100%;
  border:none;
  font-size       : 20px;
  font-family     : "Times New Roman", sans-serif;
  background-color: transparent;
}

canvas{
  image-rendering: pixelated;
}

#menu_svg {
    position: fixed;
    background: none;
    pointer-events: none;

}
tspan {
    /* dominant-baseline: middle; */
    font-size: 50px;
    white-space: pre;
    fill: white;
    stroke:white;
    stroke-width: 3px;
    transition: fill 0.2s, letter-spacing 0.2s;
    pointer-events: all;
}

a:hover .word {
    cursor: pointer;
    fill: blue;
    stroke:none;
    /* letter-spacing: 1px; */
    stroke-width: 3px;
    text-decoration: underline;
    /* font-style: italic; */
}
tspan:hover { 
    cursor: pointer; 
}
#content_holder{
    display:flex;
    position:fixed;
    width:100%;
    height:100vh;
    align-items: center;
    justify-content: center;
}
#content_wrapper{
    display:flex;
    flex-direction: column;
    justify-content: left;
}
#center_link{
    image-rendering: pixelated;
    width:fit-content;
    height:fit-content;
    pointer-events: all;
}
#center_image{
    image-rendering: pixelated;
    /* width:80%; */
    min-width:250px;
    max-width:500px;
}
#center_title{
    color:white;
    mix-blend-mode: difference;
    font-family: Arial, Helvetica, sans-serif;
}

textPath {
    animation: flow 10s linear infinite;
}
