html{

  /* background:blue; */
  /* background-image: url('https://alexlafetra.github.io/images/backgrounds/background1.jpg'); */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width:100%;
  height:100%;
  border:none;
  background-color: #ffffff;
  font-size       : 20px;
  font-family     : "Times New Roman", sans-serif;
  background-color: #ffffff;
}

canvas{
  image-rendering: pixelated;
}
#page_container{
  position:absolute;
  left:20px;
  right:20px;
  top:20px;
  bottom:20px;
  display:grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: max-content max-content max-content;
  grid-template-areas:    "me blank blank1"
                          "projects blank blank1"
                          "pages blank lookingverylifelike";
}
#project_links{
  grid-area:projects;
  display:flex;
  flex-direction:column;
}
.site_link{
  color:blue;
  text-decoration: underline;
  /* background-color: red; */
  font-size: 15px;
  width:fit-content;
  height:fit-content;
  cursor:pointer;
  margin:10px;
}

.link_title{
  font-style:italic;
  font-weight:bold;
  color:blue;
  pointer-events:none;
}
#photo_id{
  grid-area:me;
  position: relative;
  margin:40px;
  image-rendering: pixelated;
}
#lookingverylifelike{
  width:250px;
  height:250px;
  grid-area:lookingverylifelike;
}
#mouse_image{
  display:none;
}
#site_links{
  grid-area:pages;
  display:flex;
  flex-direction:column;
}