#mouse_image_container{
    position:fixed;
    pointer-events: none;
}
#mouse_image{
    image-rendering: pixelated;
    max-width:300px;
}
#page_container{
    margin:0px;
    display:grid;
    grid-template-columns: fit-content max-content;
    grid-template-rows: 260px auto;
    grid-template-areas: "title content"
                    "links content";
    font-size:16px;
    padding:20px;
    /* height:90vh; */
}
#title_container{
    grid-area: title;
    display:flex;
    gap:20px;
    flex-direction: column;
    width:fit-content;
    /* height:fit-content; */
}
#list_container{
    grid-area: links;
    font-size:12px;
    font-family: monospace;
}
.ascii_drawing{
    white-space: pre;
    font-family: monospace;
    font-size: 4px;
}
.heading{
    font-style: italic;
    color:rgb(65, 113, 97);
    background-color: rgb(200, 219, 255);
    height:fit-content;
    width:fit-content;
}
.link{
    color:rgb(77, 14, 14);
    margin:0px;
    margin-left: 20px;
    padding:2px;
    transition:0.1s;
    height:fit-content;
    width:fit-content;
    background-color: white;
}
.link:hover{
    color:blue;
    cursor:pointer;
}
#center_container{
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    position:absolute;
    right:0;
    top:0;
    left:260px;
    bottom:0;
    /* grid-area: content; */
}
#center_container img{
    max-width:500px;
    padding:20px;
}
@media all and (max-width: 600px) {
    #page_container{
        grid-template-columns: fit-content fit-content;
        grid-template-rows: auto auto;
        grid-template-areas: "title links"
                    "title content";
        /* height:90%; */
    }
    #list_container{
        writing-mode: vertical-rl;
        z-index:1;
    }
    .link{
        margin:0px;
        margin-top:20px;
    }
    #center_container{
        position:absolute;
        right:0;
        left:100px;
        padding-top:250px;
        bottom:0;
        top:0;
        width:80%;
        overflow-y:scroll;
        /* z-index:-1; */
    }
}