#mouse_image_container{
    position:fixed;
    pointer-events: none;
}
#mouse_image{
    image-rendering: pixelated;
    max-width:300px;
}
#page_container{
    margin:0px;
    display:grid;
    grid-template-columns: fit-content max-content;
    grid-template-rows: 260px auto;
    grid-template-areas: "title content"
                    "links content";
    font-size:16px;
    padding:20px;
    /* height:90vh; */
}
#title_container{
    grid-area: title;
    display:flex;
    gap:20px;
    flex-direction: column;
    height:fit-content;
}
#password_box{
    display:block;
    height:fit-content;
}
#title_image{
    width:200px;
}
#list_container{
    grid-area: links;
}
.ascii_drawing{
    white-space: pre;
    font-family: monospace;
    font-size: 4px;
}
.heading{
    font-style: italic;
    color:rgb(65, 113, 97);
}
.subheading{
    font-style: italic;
    color:rgb(108, 108, 108);
}
.link{
    color:rgb(77, 14, 14);
    padding-left: 20px;
    transition:0.1s;
}
.link:hover{
    color:blue;
    cursor:pointer;
}
#center_container{
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    grid-area: content;
}
#center_container img{
    max-width:500px;
}
@media all and (max-width: 1000px) {
    #page_container{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "title"
                    "links"
                    "content";
    }
}