@font-face{
    font-family:receipt;
    src : url('/MerchantCopy.ttf');
}

html,body{
    margin:0;
}
#bio{
    z-index:1;
    position:absolute;
    bottom:20px;
    left:20px;
    display:flex;
    gap:10px;
    font-family: receipt;
    width:200px;
}
#bio_links{
    padding-top:20px;
}
#selfie{
    max-width:100%;
    width:100px;
}
#mouse_image_container{
    position:fixed;
    pointer-events: none;
}
#mouse_image{
    image-rendering: pixelated;
    max-width:300px;
}
#page_container{
    margin:0px;
    display:grid;
    grid-template-columns: fit-content max-content;
    grid-template-rows: 260px auto;
    grid-template-areas: "title content"
                    "links content";
    font-size:16px;
    padding:20px;
    /* height:90vh; */
}
#title_container{
    grid-area: title;
    display:flex;
    gap:20px;
    flex-direction: column;
    width:fit-content;
    /* height:fit-content; */
}
#title_animation{
    image-rendering: pixelated;
    position:absolute;
    left:160px;
    top:280px;
    width:64px;
    mix-blend-mode: difference;
}
#list_container{
    grid-area: links;
    font-size:12px;
    font-family: monospace;
}
.ascii_drawing{
    white-space: pre;
    font-family: monospace;
    font-size: 4px;
}
.heading{
    font-style: italic;
    color:rgb(65, 113, 97);
    background-color: rgb(200, 219, 255);
    height:fit-content;
    width:fit-content;
    pointer-events: none;
}
.link{
    color:rgb(77, 14, 14);
    margin:0px;
    margin-left: 20px;
    padding:2px;
    transition:0.1s;
    height:fit-content;
    width:fit-content;
    background-color: white;
}
.link:hover{
    color:blue;
    cursor:pointer;
}
#center_container{
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    position:absolute;
    right:0;
    top:0;
    left:260px;
    bottom:0;
    padding-top:150px;
    /* grid-area: content; */
}
#center_container img{
    max-width:500px;
    padding:20px;
}

@media all and (max-width: 600px) {
    #bio{
        position:relative;
        /* top:380px;
        height:120px;
        left:20px; */
        left:0px;
        padding-top:20px;
        display:flex;
        gap:10px;
        font-family: receipt;
        width:80px;
        flex-direction: column;
    }
    #title_animation{
        position:relative;
        top:0px;
        left:0px;
    }
    #page_container{
        grid-template-columns: fit-content fit-content;
        grid-template-rows: auto auto;
        grid-template-areas: "title links"
                    "title content";
        /* height:90%; */
    }
    #list_container{
        writing-mode: vertical-rl;
        transform-origin: top right;
        transform: rotate(180deg) translate(260px,-220px);
        z-index:1;
    }
    .link{
        margin:0px;
        margin-top:20px;
    }
    #center_container{
        position:absolute;
        right:0;
        left:100px;
        padding-top:250px;
        bottom:0;
        top:0;
        width:80%;
        overflow-y:scroll;
        /* z-index:-1; */
    }
}
