html{
    background-color: #ffffff;
    overflow:hidden;
}
/* for the 3D model of the stepchild */
canvas{
    position:absolute;
    top:-130px;
    right:-100px;
    z-index: -1;
}

/* title of page */
#title{
    top:0;
    margin:0;
    height:auto;
    display:block;
}
#title a{
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:8.85vh;
    font-weight:900;
    text-decoration:none;
    color:black;
}
#title a:hover{
    color:blue;
    transition:0.2s;
}

/* list of links to other blogs */
#other_posts{
    font-size       : 12px;
    font-family     : "courier", sans-serif;
    position:absolute;
    margin:0;
}
/* so links won't go purple */
a{
    color:blue;
}

/* links to other sites */
#external_links{
    position:absolute;
    display:block;
    bottom:0;
}
#external_links a{
    color:black;
    font-family: 'JetBrains Mono', monospace;
    font-size:12px;
    font-weight:800;
    text-decoration:none;
}
#external_links a:hover{
    transition:0.2s;
    color:blue;
    cursor:pointer;
}

/* div holding the blog post */
#blog_post{
    font-size       : 12px;
    font-family     : "courier", sans-serif;
    display:block;
    width:100vw;
    max-width:2000px;
    height:85vh;
    margin-left:150px;
    margin-right:300px;
    bottom:0;
}
/* turning off the iframe border */
iframe{
    border:none;
    /* border:solid; */
    width:100%;
    height:100%;
}
