body{
    display:block;
    background:transparent;
    color:black;
}
#blog{
    margin:0;
    width:60%;
    font-family: 'JetBrains Mono', monospace;
    color:black;
    font-size:12px;
}

/* title of post*/
#title{
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    font-weight: 600;
    font-stretch: wider;
    margin:0;

}
/* date */
#date{
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    font-weight: 100;
    margin-top:0;
}
audio{
    margin:auto;
    width:80%;
    display:block;
}
/* lists */
li{
    margin-left:20px;
}
.center_image{
    max-width:50%;
    display:block;
    margin:auto;
}
.wide_center_image{
    max-width:100%;
    display:block;
    margin:auto;
}
.left_image{
    max-width:50%;
    display:block;
    margin-left:0;
}
.image_container{
    display:inline-block;
    margin:auto;
    width:100%;
}
.image_container img{
    max-width:50%;
    max-height:90%;
    float:left;
}
.image_caption{
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    /* max-width:80%; */
    /* margin:auto; */
    /* display:block; */
    text-align:center;
}