body{
    background-color:rgb(235,255,255)
}

#main_container{
    width:80%;
    max-width:800px;
    display:block;
    margin:auto;
    margin-top:100px;
}
/* Title of page */
/* rn it's "Research Into Gentrification in the Bay Area"*/
#title h1{
    color: rgba(0, 0, 0);
    text-decoration: none;
    position    :   relative;
    font-size   :   26pt;
    text-align  : center;
    font-style  : bold;
}
/* subtitle */
#title h2{
    color: rgba(80, 80, 80);
    text-decoration: none;
    position    :   relative;
    font-size   :   14pt;
    text-align  : center;
    font-style  : italic;
    margin: 1px;
}
.center_image{
    width:60%;
    margin:auto;
    display:block;
    /* padding:10px; */
}

/* 'abstract' that's right below the title */
#abstract{
    /* border:solid; */
    width:80%;
    display:block;
    margin:auto;
    font-size   :   12pt;
    text-indent: 40px;
    padding:40px;
}


#map{
    width:60%;
    height:60%;
    display:block;
    margin:auto;
}

/* Chapter 2*/
/* title "What this map can show you*/
#ch2 h1{
    color: rgba(0, 10, 120);
    text-decoration: none;
    font-size   :   18pt;
    text-align  : left;
    margin-left: 5%;
    margin-top: 6%;
}
/*subtitle*/
#ch2 h2{
    color: rgba(80, 80, 80);
    font-size   :   12pt;
    display:inline;
    text-indent : 40px; 
    margin-left: 5%;
    font-style  : italic;

}
#ch2 p{
    color: rgba(0, 0, 0);
    text-decoration: none;
    font-size   :   12pt;
    text-align  : left;
    margin-left: 5%;
    margin-right: 5%;
    text-indent: 5%;
}
#instructions img{
    max-width : 35%;
    margin:5%;
    margin-top:1%;
    /* display: flexbox; */
}
#img2 img{
    margin-left: auto;
    margin-right: auto;
    display:block;
    max-width:35%;
}
#footnote p{
    color: rgba(40, 40, 40);
    text-decoration: none;
    font-size   :   10pt;
    text-align  : left;
    margin-left: 5%;
    margin-right: 5%;
}

/* Chapter 3*/
/* title "What this map can't"*/
#ch3 h1{
    color: rgba(0, 10, 120);
    text-decoration: none;
    font-size   :   18pt;
    text-align  : left;
    margin-left: 5%;
    margin-top: 6%;

}
#ch3 h2{
    color: rgba(80, 80, 80);
    font-size   :   12pt;
    display:inline;
    text-indent: 5%;
    margin-left: 5%;
    font-style  : italic;

}
#ch3 p{
    color: rgba(0, 0, 0);
    text-decoration: none;
    font-size   :   12pt;
    text-align  : left;
    margin-left: 5%;
    text-indent: 5%;

}

/* Chapter 4*/
#ch4 h1{
    color: rgba(0, 10, 120);
    text-decoration: none;
    font-size   :   18pt;
    text-align  : left;
    margin-left: 5%;
    margin-top: 6%;

}
#ch4 p{
    color: rgba(0, 0, 0);
    text-decoration: none;
    font-size   :   12pt;
    text-align  : left;
    margin-left: 5%;

}
/*bottom links to thesis*/
#links a{
    color: rgba(80, 80, 80);
    position    :   relative;
    font-size   :   12pt;
    display:inline-block;
    align-content: center;
    /* margin-left: 5%; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}