html{
    font-size       : 20px;
    font-family     :'Courier New', Courier, monospace;
    /* background-color: white; */
    /* background-color:rgb(100, 100, 0); */
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.column{
    height:100vh;
    transition: 0.5s;
}

#options{
    top:0%;
}

/* menu column*/
#menu{
    display: block;
    position:absolute;
    /* width: 100px; */
    width:10vh;
    height:100vh;
    float:left;
    z-index: 1;

    background: #ff6200;
    /* border: solid; */
    border-width: 0;
    border-right-width: 2px;

    transition: 0.5s;
    transition-timing-function:ease-in-out;
}
/* menu options */
#menu a{
    display:block;
    width:100%;

    /* color:rgb(0, 0, 0); */
    color:white;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size: 75px; */
    font-size:8.85vh;
    font-weight:900;
    font-stretch: 250%;
    writing-mode:vertical-rl;
    text-orientation:sideways;

    transition:1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    text-decoration:wavy;
}
#menu a:hover{
    color:#0033ff;
    cursor: pointer;
    text-decoration:overline;
}
/* middle image column*/
#mainColumn{
    float:right;
    display:block;
    position:absolute;
    margin:0;
    padding:0;
    left:10vh;
    right:40px;
    overflow:hidden;
    transition: 0.2s;
    transition-timing-function:ease-in-out;
}
/* #mainColumn img{
    position:absolute;
    display:block;
} */

#boxHolder{
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    margin:0;
    border:0;
    padding:0;
}
.menuBox{
    float:right;
    display:block;
    width:50%;
    height:33.33%;
    /* margin:auto; */
    /* margin:10px; */
    /* for some reason, this is necessary to make the canvas click-thru-able */
    z-index:-1;
    /* background-color:#0033ff; */
    text-align:center;
}
.menuBox:hover{
    opacity:1;
}

.menuBox img{
    display:block;
    width:100%;
    height:100%;
    transition:0.1s;
    /* object-fit: contain; */
    object-fit: cover;
}
.menuBox p{
    position:absolute;
    display:block;
    color:white;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    font-weight:900;
}

/* scrolling shit */
#scroll_container {
    display:block;
    position:fixed;
    top:0;
    right:0;
    height:100%;
    z-index:1;

    border: 0;

    writing-mode:vertical-rl;
    text-orientation:sideways-right;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size:8.85vh; */
    font-size:40px;
    font-weight:900;
    white-space:nowrap;
    animation: scrollText 20s infinite linear;
    transition: all 1s ease;
}
#scroll_text{
    display:block;
    width:100%;
    margin:auto;
}

/*div:hover {
animation-play-state: paused;
}*/
@keyframes scrollText {
from   { transform: translateY(0%); }
to { transform: translateY(-320%); }
}

canvas {
    position: absolute;
    pointer-events: none;
    top:0;
}

#main_page_iframe{
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
}

#info_section{
    font-family: 'Varela Round', sans-serif;
    font-size:20px;
    background-color:white;
    margin: 45vh auto;
    width:80%;
    /* transition:0.001s; */
}
#info_section img{
    display:block;
    margin:auto;
}

/* this is for hold */
.single_centered_div{
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0px;
    margin:auto;
    margin-top:20vh; /*Setting the starting offset*/
    max-width:800px;
    /* max-width:80%; */
    min-width:300px;
    transition:0.6s;
}
.single_centered_div img{
    max-width:100%;
}

.ascii{
    font-family:'Courier New', Courier, monospace;
    white-space:pre;
    white-space-collapse: preserve-spaces;
}

#ascii_title{
    font-size:10px;
    position:absolute;
}

.random_icon{
    position:fixed;
    z-index: -1;
    /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
}

.ascii_hidden{
    visibility:hidden;
}