html{
    font-size       : 20px;
    font-family     :'Courier New', Courier, monospace;
    overflow-x:hidden;
}

body {
  margin: 0;
  padding: 0;
}

.column{
    height: 100vh;
}

#options{
    top:0%;
}

.activeMenuLink{
    color:black;
    text-decoration:none;
    display:block;
    width:100%;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:7.8vh;
    font-size:var(--menuFontSize);
    font-weight:900;
    writing-mode:vertical-rl;
    text-orientation:sideways;
}

.activeMenuLink:hover{
    color:#0033ff;
}

/* menu column*/
#menu{
    display: block;
    position:absolute;
    width:  var(--menuColSize);
    height:100vh;
    float:left;
    z-index: 1;

    background: #ff6200;

    overflow-y: hidden;
}

/* menu options */
#menu .menuLink{
    display:block;
    width:100%;

    color:white;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:7.8vh;
    font-size:var(--menuFontSize);
    font-weight:900;
    /* font-stretch: 250%; */
    writing-mode:vertical-rl;
    text-orientation:sideways;

    text-decoration:none;
}

#menu .menuLink:hover{
    color:#0033ff;
    /* color:black; */
    cursor: pointer;
    text-decoration:overline;
}

/* middle image column*/
#mainColumn{
    float:right;
    display:block;
    position:absolute;
    margin:0;
    padding:0;
    left:8.95;
    left:var(--menuColSize);
    right:40px;
    overflow:hidden;
    /* transition: 0.2s; */
    transition-timing-function:ease-in-out;
}
/* #mainColumn img{
    position:absolute;
    display:block;
} */

#boxHolder{
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    margin:0;
    border:0;
    padding:0;
}
.menuBox{
    float:right;
    display:block;
    width:50%;
    height:33.33%;
    /* margin:auto; */
    /* margin:10px; */
    /* for some reason, this is necessary to make the canvas click-thru-able */
    z-index:-1;
    /* background-color:#0033ff; */
    text-align:center;
}
.menuBox:hover{
    opacity:1;
}

.menuBox img{
    display:block;
    width:100%;
    height:100%;
    /* transition:0.1s; */
    /* object-fit: contain; */
    object-fit: cover;
}
.menuBox p{
    position:absolute;
    display:block;
    color:white;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    font-weight:900;
}

/* scrolling shit */
#scroll_container {
    display:block;
    position:fixed;
    top:0;
    right:0;
    height:100%;
    z-index:1;

    border: 0;

    writing-mode:vertical-rl;
    text-orientation:sideways-right;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size:8.85vh; */
    font-size:40px;
    font-weight:900;
    white-space:nowrap;
    animation: scrollText 20s infinite linear;
    transition: all 1s ease;
}
#scroll_text{
    display:block;
    width:100%;
    margin:auto;
}

/*div:hover {
animation-play-state: paused;
}*/
@keyframes scrollText {
from   { transform: translateY(0%); }
to { transform: translateY(-320%); }
}

canvas {
    position: absolute;
    pointer-events: none;
    top:0;
}

#main_page_iframe{
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    overflow-x: hidden;
}

#info_section{
    /* font-family: 'Varela Round', sans-serif; */
    font-family     : 'Arial', Arial, sans-serif;
    font-size:20px;
    font-weight:600;
    /* background-color:white; */
    margin: auto;
    width:80%;
    max-width:500px;
    /* transition:0.001s; */
}
#info_section img{
    display:block;
    margin:auto;
}

/* this is for holding the stepchild graphic */
.single_centered_div{
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0px;
    margin:auto;
    /* margin-top:20vh; Setting the starting offset */
    max-width:500px;
    /* max-width:80%; */
    min-width:300px;
    transition:0.6s;
}
.single_centered_div img{
    max-width:100%;
}

.ascii{
    font-family:'Courier New', Courier, monospace;
    white-space:pre;
    white-space-collapse: preserve-spaces;
}

#ascii_title{
    /* font-size:10px; */
    font-size:1.2vw;
    position:absolute;
}

.random_icon{
    position:fixed;
    z-index: -1;
    /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
}

.ascii_hidden{
    visibility:hidden;
}

#index_header{
    background-color:black;
}
#index_header:hover{
    cursor:pointer;
    background-color:blue;
}

.blue_italic{
    font-style:italic;
    color:blue;
}
.blue{
    color:blue;
}

.info_text{
    font-family     : 'Arial', Arial, sans-serif;
}

.info_text a{
    text-decoration:underline;
    color:blue;
}

#preorder_blurb{
    text-align:center;
    font-size:50px;
    margin-top:0;
    margin-bottom:0;
}
#preorder_link{
    font-size: 60px;
    color:blue;
    text-decoration:underline;
    font-style:italic;
}

#index_column{
    overflow-x: hidden;
}
#manual_column{
    overflow-x: hidden;
}

#info{
    overflow: scroll;
}