html{
    background-color:black;
    color:white;
    font-family: 'Comic Neue', cursive;
    overflow:hidden;
    font-size:50px;
}

/* for the rainbow text */
@keyframes rainbow{ 0%{color:hsl(0,100%,50%);} 
                    10%{color:hsl(36,100%,50%);}
                    20%{color:hsl(72,100%,50%);}
                    30%{color:hsl(108,100%,50%);}
                    30%{color:hsl(144,100%,50%);}
                    40%{color:hsl(180,100%,50%);}
                    50%{color:hsl(216,100%,50%);}
                    60%{color:hsl(252,100%,50%);}
                    70%{color:hsl(288,100%,50%);}
                    80%{color:hsl(324,100%,50%);}
                    100%{color:hsl(360,100%,50%);}}


.rainbowText{
    animation: rainbow 6s infinite;
    transition:ease-in;
}

#OS{
    font-family: 'Times New Roman', Times, serif;
    font-size:80px;
    font-style:italic;
    position:absolute;
    display:block;
    top:0;
    left:100px;
}
#child{
    position:absolute;
    display:block;
    top:35px;
    left:20px;
    z-index: 1;
}

.gif{
    width:40px;
    height:100%;
    right:230px;
    top:30px;
    /* position:absolute; */
    display:block;
}
.gif img{
    width:200px;
    /* position:absolute;
    display:block; */
}
#CD{
}

.screenshot{
    margin:auto;
    display:block;
    width:500px;
}

#info_text{
    max-width:600px;
    margin:auto;
    display:block;
}
.text{
    font-size:13pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
