@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

body{
    background-color:black;
    overflow-x: hidden;
}

/* div holding the murmur icon */
#logo{
    color:black; 
    width:100%;
    display:block;
    top:10px;
    position:fixed;
    position:absolute;
    margin:auto;
    z-index: 2;
}
#logo img{
    display:block;
    max-width:80vw;
    margin:auto;
}

/* boids image */
#title_pic{
    /* position:absolute; */
    display:block;
    width:500px;
    margin:auto;
    margin-top:-100px;
    padding-right:500px;
    z-index: -2;
}
#title_pic img{
    width:100%;
    height:100%;
}

/* div holding all the below text/image boxes */
#description{
    font-family: 'Varela Round', sans-serif;
    color:white;
    width:100%;
    max-width:800px;
    min-width:600px;
    height:100%;
    display:block;
    margin:auto;
    margin-top:-250px;
    padding:50px;
}
/* murmur quote */
#dictionary_definition{
    font-family: 'EB Garamond',italic;
    padding-top:40px;
    font-size:20pt;
    font-style:italic;
    width:70%;
    /* text-align:center; */
}
#links{
    text-align:right;
    width:200px;
    margin:auto;
    border-right:solid 4px blue;
}
#links a{
    font-family: 'EB Garamond',italic;
    text-decoration:underline;
    font-size:30pt;
    color:blue;
    padding:20px;
}
#blurb{
    display:block;
    /* float:left; */
    width:100%;
    margin:0;
    padding:0;
}
#blurb p{
    width:60%;
    /* margin:auto; */
    margin-left:0;
}
#media{
    display:block;
    position:relative;
    /* float:left; */
    width:100%;
    margin:0;
    padding:0;
}
/* yt video */
#video{
    display:block;
    float:left;
    min-width:50%;
    max-width:560px;
    height:315px;
}
/* example images */
#example_images{
    display:block;
    float:left;
    width:50%;
}
#main_window{
    display:block;
    position:absolute;
    width:100%;
    max-width:450px;
}
#sidekick_window{
    display:block;
    position:absolute;
    width:40%;
    max-width:180px;
    margin-top:-50px;
}
.subtitle{
    font-size:14pt;
}
.bodyText{
    font-size:12pt;
}
