body {
    padding:0;
    margin: 0;
    overflow:hidden;
    /* position:fixed; */
}
/* hey */
h1{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-align: left;
    font-size: 200px;
    color:white;
    font-style: italic;
    font-weight:bold;
    font-family     : "Arial", sans-serif;
    position:absolute;
    right:3%;
    bottom:60%;
    top:-160px;
    z-index:1;
}
/* just for 'amazingly' secret page */
h2{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: left;
    font-size: 40px;
    color:white;
    /* font-style: italic; */
    /* font-weight:bold; */
    font-family     : "Arial", sans-serif;
    position:absolute;
    left:40%;
    bottom:60%;
    top:200px;
    z-index:1;
    max-width:50%;
}
/* for my bio */
#bio{
    height:85%;
    width:50%;
    left:30%;
    top:15%;
    z-index:1;    
    position:absolute;
    display:block;
    overflow:auto;
    transition:0.3s;
    font-weight: bolder;
    /* background-color: rgb(255, 255, 255); */
}

#bio p{
    /* transition:0.8s; */
    text-align: left;
    font-size: 27px;
    color:white;
    font-family     : "Arial", sans-serif;
    mix-blend-mode: difference;
}
#bio p:hover{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    transition:0.8s;
}
#bio a{
    color:black;
    transition: 0.2s;
}
#bio a:hover{
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255); */
    color:rgb(0, 21, 255);
}
#links{
    display:flex;
    align-content:center;
}
/* contact links */
#links a{
    position:absolute;

    float:left;
    z-index:1;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    transition: 0.1s;
}
#links a:hover{
    color:rgb(0, 8, 255);
}
#email{
    font-family     : "Arial", sans-serif;
    font-style: italic;
    font-weight:bold;
    color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(97, 97, 97);
    top:300px;
    left:20px;
}
#phone{
    font-family     : "Arial", sans-serif;
    font-style: italic;
    font-weight:bold;
    color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(97, 97, 97);
    top:340px;
    left:20px;
}
#resume{
    font-family     : "Arial", sans-serif;
    font-style: italic;
    font-weight:bold;
    color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(97, 97, 97);
    top:380px;
    left:20px;
}
#back{
    font-family: monospace,ui-monospace;
    font-style: italic;
    color:rgb(255, 255, 255);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(97, 97, 97);
    left:20px;
    top:20px;
}
/* contact icons */
#links img{
    width:40px;
    left:20px;
    transition:0.1s;
    position:absolute;
}
#links img:hover{
    width:42px;
}
#instagram{
    top: 100px;
}
#soundcloud{
    top: 150px;
}
#bandcamp{
    top:200px;
}
#spotify{
    top:250px;
}
canvas{
    position:absolute;
    z-index:0;
}

#portrait{
    position:absolute;
    width: 250px;
    left:90px;
    top:30px;
    z-index:1;
}
#portrait img{
    width:100%;
}
#arrow{
    top:0;
    font-size: 30px;
    text-align: center;
    white-space: pre;
    font-family: monospace,ui-monospace;
    color:rgb(255, 0, 0);
    visibility:hidden;
    transition:0.5s;
}