@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


html{
    background-color:aliceblue;
    padding:0;
    margin:0;
    overflow:hidden;
    overflow-y: hidden;
}
body{
    overflow:hidden;
}
#main_container{
    display:block;
    width:80%;
    max-width:400px;
    margin:auto;
}
#portrait{
    display:block;
    width:40%;
    margin:auto;
    margin-top:100px;
}
/* svg icons */
#links{
    width:100%;
    display:block;
    position:relative;
    height:40%;
}

#link_icons{
    display:block;
    width:40px;
    height:100%;
    float:right;
    /* border:solid; */
}

#link_icons img{
    width:40px;
}
#link_text{
    width:250px;
    display:block;
    font-family: 'EB Garamond',italic;
    font-size:16pt;
    height:100%;
    /* float:right; */
    text-align:right;
    float:left;
    /* margin-right:20px; */
}
#link_text a{
    color:blue;
    transition:0.2s;
}
#link_text a:hover{
    color:black;
}
#bio{
    font-family: 'Nunito', sans-serif;
}
#bio a{
    color:blue;
    font-weight:700;
}
.loud{
    font-family: 'EB Garamond',italic;
    font-size:40pt;
}

#defaultCanvas0{
    position:absolute;
    display:block;
    top:0;
    left:0;
    width:500px;
    z-index:-1;
}