
html{
    font-size       : 10px;
    font-family     : "Times New Roman", sans-serif;
    background-color: #f0f0f0;
    overflow:hidden;
    margin:0;
    padding:0;
    background-color:white;
}
/* Title */
h1 a{
    text-align:center;
    /* writing-mode: vertical-rl; */
    /* text-orientation: mixed; */
    /* color: black; */
    text-decoration: none;
    position    :   relative;
    font-size   :   3vw;
    font-weight : lighter;
    left: 5vw;
    top:5vh;
    /* top: 1vh;
    bottom: 5vh; */
    max-width:100%;
    text-shadow: 10px 10px rgb(255, 0, 0), 20px 20px rgb(255, 0, 0), 30px 30px rgb(255, 0, 0), 40px 40px rgb(255, 0, 0), 50px 50px rgb(255, 0, 0), 60px 60px rgb(255, 0, 0),
    70px 70px rgb(255, 0, 0), 80px 80px rgb(255, 0, 0), 90px 90px rgb(255, 0, 0), 100px 100px rgb(255, 0, 0), 110px 110px rgb(255, 0, 0), 120px 120px rgb(255, 0, 0),
   -10px -10px rgb(255, 0, 0), -20px -20px rgb(255, 0, 0), -30px -30px rgb(255, 0, 0), -40px -40px rgb(255, 0, 0), -50px -50px rgb(255, 0, 0), -60px -60px rgb(255, 0, 0),
   -70px -70px rgb(255, 0, 0), -80px -80px rgb(255, 0, 0), -90px -90px rgb(255, 0, 0), -100px -100px rgb(255, 0, 0), -110px -110px rgb(255, 0, 0), -120px -120px rgb(255, 0, 0),
   -130px -130px rgb(255, 0, 0), -140px -140px rgb(255, 0, 0), -150px -150px rgb(255, 0, 0), -160px -160px rgb(255, 0, 0), -170px -170px rgb(255, 0, 0), -180px -180px rgb(255, 0, 0);
    color: rgba(105, 59, 211, 0.438);
}
/* gallery links */
#menu{
    display:block;
    width:15%;
    position:absolute;
    top:20vh;
    left:2vw;
}
#menu a{
    display:block;
    font-size: 1.5vw;
    font-family: 'Golos Text', sans-serif;
    font-weight:bold;
    text-decoration: none;
    color:black;
    transition:0.2s;

}
#menu a:hover{
    color:aqua;
}
#gallery{
    top:0;
    right:0;
    display:block;
    position:absolute;
    border:none;
    border-left:solid;
    width:85%;
    height:100vh;
    float:right;
}