
html{
    font-size       : 10px;
    font-family     : "Times New Roman", sans-serif;
    background-color: #f0f0f0;
    overflow:hidden;
    margin:0;
    padding:0;
    background-color:white;
}
/* gallery links */
#menu{
    display:block;
    width:10%;
    position:absolute;
    top:0;
    left:0;
    text-align:center;
}
/* title */
#menu h1{
    margin:0;
    text-align:center;
    font-size:3vw;
}
/* subheader */
#menu h2{
    margin-left:-4vw;
    margin-top:0;
    margin-bottom:0;
    font-weight:bold;
    display:block;
    font-size: 1.5vw;
    /* font-family: 'Golos Text', sans-serif; */
    text-decoration: none;
    color:black;
    transition:0.3s;
}
#menu a{
    /* margin-left:1.5vw; */
    display:block;
    font-size: 1vw;
    /* font-family: 'Golos Text', sans-serif; */
    text-decoration: none;
    color:black;
    transition:0.3s;
}
#menu a:hover{
    color:rgb(2, 183, 203);
    text-decoration:underline;
    font-style:italic;
}

#sketch{
    top:0;
    right:0;
    display:block;
    position:absolute;
    border:none;
    /* border-left:solid; */
    width:90%;
    height:100vh;
    float:right;
}
