canvas{
    margin:auto;
    display:block;
    /* object-fit: contain; */
    /* margin-top:10%; */
    /* vertical-align: middle; */
    /* overflow-y:visible; */
}
.vertical_align_helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}