html{
    font-size       : 20px;
    font-family     : "Times New Roman", sans-serif;
    background-color: #ffffff;
    /* background-image: url('https://alexlafetra.github.io/images/backgrounds/background1.jpg'); */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* center menu */
#center_index{
    display:block;
    position:absolute;
    width: 250px;
    height:250px;
    /* margin:auto; */
    /* border:5px solid white; */

    /* centering it */
    top:50%;
    left: 50%;
    /* -ms-transform: translateY(-50%) translateX(-50%); */
    transform: translateY(-50%) translateX(-50%);

    /* making sure it renders above the canvas */
    z-index: 1;
    /* background-image: url('https://alexlafetra.github.io/images/backgrounds/background2.jpg'); */
    /* background-image: "images/backgrounds/background2.jpg"; */
}
#background{
    position:absolute;
    width:250px;
    height: 250px; 
    overflow: hidden;
    object-fit: cover;
}
/* links */
#center_index a{
    fill:rgb(255, 255, 255);
    font-size: 29.55px;
    /* font-size: 31.5px; */
    /* font-size: 5vw; */
    transition: 0.2s;
}
#center_index .link:hover{
    fill:rgb(255, 0, 238);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0); */
    paint-order: stroke;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    /* font-weight: 800; */
    /* font-weight: bolder; */
}
#text_svg{
    position: fixed;
    display: block;
    margin: auto;
    transition: 0.3s;
}

canvas{
    z-index:0;
    left:0;
    top:0;
    position:absolute;
}

.main_menu_media{
    display:none;
    position:absolute;
    margin:auto;
    height: inherit;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
}

#collisionElement{
    
}
