html{
    font-size       : 20px;
    font-family     : "Times New Roman", sans-serif;
    background-color: #ffffff;
    /* background-image: url('https://alexlafetra.github.io/images/backgrounds/background1.jpg'); */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* center menu */
#center_index{
    display:block;
    position:absolute;
    width: 250px;
    height:250px;
    /* centering it */
    top:50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    /* making sure it renders above the canvas */
    z-index: 1;
    /* background-image: url('https://alexlafetra.github.io/images/backgrounds/background2.jpg'); */
    /* background-image: "images/backgrounds/background2.jpg"; */
}
#center_description_container{
    position:absolute;
    width:250px;
    height: 250px; 
    overflow-x: hidden;
    overflow-y: auto;
    background:white;
}
.center_description{
    width:100%;
    height:250px;
    display:block;
}
/* links */
#center_index a{
    fill:rgb(255, 255, 255);
    font-size: 29.55px;
    transition: 0.2s;
}

#center_index .link{
    pointer-events: auto;
}

#center_index .link:hover{
    fill:rgb(255, 0, 238);
    paint-order: stroke;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    cursor: pointer;
}
#text_svg{
    position: fixed;
    display: block;
    margin: auto;
    transition: 0.3s;
    pointer-events: none; 
}

canvas{
    z-index:0;
    left:0;
    top:0;
    right:0;
    position:absolute;
    display:block;
}

.main_menu_media{
    display:none;
    position:absolute;
    margin:auto;
    height: inherit;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
}

.side_list{
    background:white;
    transition:1s;
}
