@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,900&display=swap');

body {
    /* overflow: hidden; */
    background-color: white;
}
.vertical_align_helper{
    /* display: inline-block;
    height: 100%;
    vertical-align: middle; */
}
#main_container{
    width:80%;
    width:700px;
    display:block;
    margin:auto;
    height:100%;
}
#image_container{
    width:40px;
    height:100%;
    display:block;
    margin-top:-85%;
    float:right;
}
#image_container img{
    max-width:165px;
    transition:0.1s;
}
#image_container img:hover{
    /* opacity:80%;
    cursor:pointer; */
}
.title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:blue;
    font-size:40pt;
    width:100%;
    /* margin-top:-35px; */
}
/* art installation */
#name{
    /* font-family: 'Poppins', sans-serif; */
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    display:block;
    font-size: 40pt;
    width:100%;
    margin:auto;
    font-weight:bolder;
    writing-mode:vertical-lr;
    z-index: 1;
    height:70%;
}
/* contact */
#contact{
    display:block;
    font-size: 30pt;
    max-width:300px;
    z-index: 1;
}
#contact a{
    font-style:italic;
    text-decoration: none;
    color:rgb(255, 0, 0);
    transition:0.3s;
}
#contact a:hover{
    color:rgb(0, 0, 0);
}
canvas{
    z-index:-1;
    display:block;
}

/* holds the link lists to the left */
#lists{
    z-index: 3;
}
#gallery_list a{
    font-family: 'Golos Text', sans-serif;
    display:block;
    font-size:10pt;
    text-decoration: none;
    color:rgb(43, 0, 255);
}
#gallery_list a:hover{
    color:rgb(0, 0, 0);
}
#side_container{
    width:400px;
    display:block;
    height:100%;
    position:absolute;
    top:0;
}
/*contains images and bios*/
#text_container{
    height:100%;
    font-family: 'Golos Text', sans-serif;
    display:block;
    max-width:700px;
    width:80%;
    font-size:16pt;
    margin-left:70px;
    margin-top:60px;
    padding:15px;
}
#portrait{
    /* position:absolute; */
    display:block;
    z-index:2;
    width:80px;
    height:80px;
}
#portrait img{
    width:100%;
}

