body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
/* name */
h1{
    /* font-family: 'Golos Text', sans-serif; */
    position: absolute;
    display:block;
    width:50px;
    font-size: 4vh;
    margin:auto;
    /* so it always sits to the right of the title column */
    left:8vh;
    top:0;
    font-weight:100;
    color: white;
    mix-blend-mode: difference;

    /* z-index: 1; */
}
/* art installation */
h2{
    position: absolute;
    display:block;
    font-size: 7vh;
    top:0%;
    margin:auto;
    font-weight:800;
    writing-mode:vertical-lr;
    z-index: 1;
}
/* contact */
h3{
    position: absolute;
    display:block;
    font-size: 4vh;
    max-width:30vh;
    /* left:16vh;
    top:0%; */
    top:90.2vh;
    left:1vh;
    margin:auto;
    z-index: 1;
}
h3 a{
    font-style:italic;
    text-decoration: none;
    color:rgb(255, 0, 0);
    transition:0.3s;
}
h3 a:hover{
    color:rgb(0, 0, 0);
}
canvas{
    z-index:0;
    display:block;
    position:absolute;
    top:0vh;
    right:0vw;
    margin:0;
}
/* holds the big image */
#imageDiv{
    display:grid;
    place-items:center;
    height:100vh;
    width:100vw;
}
#imageDiv p{
    display:block;
    position:absolute;
    text-align: center;
    z-index:4;
    bottom:0px;
    font-size:20px;
    font-weight:bolder;
    font-style:italic;
    color:white;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    border-width:5px;
    border-color:black;
}
#imageDiv img{
    z-index: 4;
    border-color:black;
    border-width:2px;
    border-style: solid;
    border-radius:20px;
}

/* holds the link lists to the left */
#lists{
    position:absolute;
    float:left;
    left:1vh;
    margin:auto;
    top:50vh;
    z-index: 3;
}
#city_list h{
    text-align:center;
    font-size:2.5vh;
    font-weight:bolder;
}
#city_list a{
    font-family: 'Golos Text', sans-serif;
    display:block;
    font-size:1.5vh;
}
#gallery_list a{
    font-family: 'Golos Text', sans-serif;
    display:block;
    font-size:1.5vh;
    text-decoration: none;
    color:rgb(43, 0, 255);
}
#gallery_list a:hover{
    color:rgb(0, 0, 0);
}
#gallery_list h{
    text-align:center;
    font-size:2.5vh;
    font-weight:bolder;
}

/*contains images and bios*/
#bio_column{
    font-family: 'Golos Text', sans-serif;
    position:absolute;
    display:block;
    padding:10px;
    max-width:65vw;
    left:7vh;
    top:15vh;
    margin:auto;
    font-size:2vh;
    overflow: scroll;
}
#bio1{
    z-index: 3;
    color: rgb(255, 255, 255); 
    mix-blend-mode: difference;
}
/* bottom bio */
#bio2{
    position:relative;
    z-index:3;
    width:80%;
    top:10px;
    margin-left:8vh;
    font-size:1.5vh;
    transition:0.3s;
}
#bio2 a{
    color:black;
    font-weight:600;
    text-decoration: underline;
}
#bio2 a:hover{
    color:blue;
}
#frame{
    position:absolute;
    display:block;
    border-style:solid;
    border-width:2px;
    border-color:rgb(0, 0, 0);
    /* border-radius: 10px; */
    width: 97vw;
    /* height:98vh; */
    top:-11px;
    left:-11px;
    bottom:-11px;
    z-index:0;
}
/* frame up top */
#frame2{
    position:absolute;
    display:block;
    border-style:solid;
    border-width:5px;
    border-color:rgb(255, 174, 0);
    /* border-radius: 10px; */
    width: 8vh;
    height:12vh;
    top:0.5vh;
    /* left:27vh; */
    right:15vh;
    z-index:1;
    mix-blend-mode: difference;
}
#portrait{
    position:absolute;
    display:block;
    left:1vh;
    z-index:2;
    width:10vh;
    top: 78.5vh;
}
#portrait img{
    width:100%;
    border-style:solid;
    border-width:5px;
}

#images{
    width: 100%;
    background-color: rgb(0, 0, 255);
    display:block;
    position:relative;
    left:4vh;
    /* top:39vh; */
    height:21.66vw;
    margin:20px;
    /* margin-bottom:120px; */
    border-style:solid;
    border-width:5px;
    z-index: 3;
}
#images img{
    /* display:block; */
    float:left;
    max-width:25%;
    /* margin-bottom:20px; */
    transition:0.2s;
    /* mix-blend-mode: normal; */
}
#images img:hover{
    max-width:23%;
    padding:1%;
    /* margin:2%; */
}
