html{
    font-size       : 20px;
    font-family     :'Courier New', Courier, monospace;
    background-color: black;
    /* background-image: url('https://alexlafetra.github.io/images/backgrounds/background1.jpg'); */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.column{
    height:100vh;
    transition: 0.5s;
}

#options{
    top:0%;
}

/* menu column*/
#menu{
    display: block;
    position:absolute;
    width: 100px;
    float:left;
    z-index: 1;

    background: #ff6200;
    border: solid;
    border-width: 0;
    border-right-width: 2px;

    transition: 0.5s;
    transition-timing-function:ease-in-out;
}
/* menu options */
#menu a{
    display:block;
    width:100%;

    color:rgb(0, 0, 0);
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    /* font-size:8.85vh; */
    font-weight:900;
    font-stretch: 250%;
    writing-mode:vertical-rl;
    text-orientation:sideways;

    transition:1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    text-decoration:wavy;
}
#menu a:hover{
    color:#0033ff;
    cursor: pointer;
    text-decoration:overline;
}
/* middle image column*/
#mainColumn{
    /* background-color:#000000; */
    float:right;
    display:block;
    position:absolute;
    margin:0;
    padding:0;
    left:90px;
    right:90px;
    /* overflow:auto; */
    overflow:hidden;
    transition: 0.2s;
    transition-timing-function:ease-in-out;
}
/* #mainColumn img{
    position:absolute;
    display:block;
} */

#boxHolder{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
}
.menuBox{
    float:right;
    display:block;
    width:50%;
    height:33%;
    /* margin:auto; */
    /* margin:10px; */
    /* for some reason, this is necessary to make the canvas click-thru-able */
    z-index:-1;
    /* background-color:#0033ff; */
    text-align:center;
}
.menuBox:hover{
    opacity:1;
}

.menuBox img{
    display:block;
    width:100%;
    height:100%;
    transition:0.1s;
    /* object-fit: contain; */
    object-fit: cover;
}
.menuBox p{
    position:absolute;
    display:block;
    color:white;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    font-weight:900;
}

/* scrolling shit */
#scroll-container {
    display:block;
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width:90px;
    z-index:1;

    border: 0;
    border-color: #ffffff;
    border-left:3px;
    /* background-color: #ffffffff; */

    /* overflow: hidden; */
    color:rgb(255, 255, 255);
    writing-mode:vertical-rl;
    text-orientation:sideways-right;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    font-weight:900;
    white-space:nowrap;
    animation: scrollText 20s infinite linear;
    transition: all 1s ease;
}
#scroll_text{
    display:block;
    width:100%;
    margin:auto;
}

/*div:hover {
animation-play-state: paused;
}*/
@keyframes scrollText {
from   { transform: translateY(0%); }
to { transform: translateY(-320%); }
}

/* main{
    display:block;
    margin:auto;
} */
canvas {
    position: absolute;
    pointer-events: none;
    /* border-style:solid;
    border-width:10px;
    border-color:white; */
}
/* #defaultCanvas0{
    position:absolute;
    pointer-events: none;
    display:block;
    margin:auto;
} */
iframe{
    width:100%;
}