html{
    font-size       : 20px;
    font-family     :'Courier New', Courier, monospace;
    background-color: black;
    /* background-image: url('https://alexlafetra.github.io/images/backgrounds/background1.jpg'); */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.column{
    height:100vh;
    transition: 0.5s;
}

#options{
    top:0%;
}

/* menu column*/
#menu{
    display: block;
    position:absolute;
    width: 100px;
    float:left;
    z-index: 2;

    background: #ff6200;
    border: solid;
    border-width: 0;
    border-right-width: 2px;

    transition: 0.5s;
    transition-timing-function:ease-in-out;
}
/* menu options */
#menu a{
    display:block;
    width:100%;

    color:rgb(0, 0, 0);
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    /* font-size:8.85vh; */
    font-weight:900;
    font-stretch: 250%;
    writing-mode:vertical-rl;
    text-orientation:sideways;

    transition:1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    text-decoration:wavy;
}
#menu a:hover{
    color:#0033ff;
    cursor: pointer;
    text-decoration:overline;
}
/* middle image column*/
#images{
    /* background-color:#000000; */
    float:left;
    display:block;
    position:absolute;
    margin:0;
    padding:0;
    left:90px;
    right:90px;
    /* overflow:auto; */
    overflow:hidden;
    transition: 0.2s;
    transition-timing-function:ease-in-out;
}
#images img{
    position:absolute;
    display:block;
    /* max-width: 50%; */
    /* object-fit: cover; */
    z-index:0;
}

/* menu class--for each popup */
.menu{
    float: right;
    display: block;
    position:absolute;
    right:0%;
    width:0;
    z-index: 1;
    height:100%;

    overflow:auto;

    background: #ffffff;
    border: solid;
    border-width: 0;
    border-left-width: 2px;
    border-color:#000000;

    transition: 0.1s;
    transition-timing-function:ease;
}
.menu p{
    text-align:left;
    margin:20px;
}
.menu h1{
    text-align:center;
}

/* scrolling shit */
#scroll-container {
    display:block;
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width:90px;
    z-index:2;

    border: 0;
    border-color: #ffffff;
    border-left:3px;
    /* background-color: #ffffffff; */

    /* overflow: hidden; */
    color:rgb(255, 255, 255);
    writing-mode:vertical-rl;
    text-orientation:sideways-right;
    font-family     :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    font-weight:900;
    white-space:nowrap;
    animation: scrollText 20s infinite linear;
    transition: all 1s ease;
}
#scroll_text{
    display:block;
    width:100%;
    margin:auto;
}

/*div:hover {
animation-play-state: paused;
}*/
@keyframes scrollText {
from   { transform: translateY(0%); }
to { transform: translateY(-320%); }
}

/* fun image stuff */
#img1{
    right:80px;
    top:80px;
    height:30%;
}
#img2{
    left:100px;
    top:100px;
    width:40%;
}

canvas{
    display:block;
    margin:auto;
    z-index:10;
}
iframe{
    width:100%;
}