
/*setting the box-sizing property of all html elements*/
*{
    box-sizing:border-box;
}

html{
    font-size       : 10px;
    font-family     : "Lucida Sans", sans-serif;
    background-color: #f0f0f0;
}
body{
    width           : auto;
    margin          :0 auto;
    background-color: #ffffff;
    padding         : 0 0px 0px 0px;
    border          : 0px;
}

/*this class is for all the columns, tells them all to stack left*/
[class*="col"]{
    float   : left;
    border  : 0px solid rgb(255, 0, 0);
}


/*for the menu and name -- 20%*/
#col-menu{
    height: 100vh;
    width: 20%;
    position: relative;
    background-image: url("../images/other/bg.jpg");
    transition: 0.5s;
}
#col-menu .layer{
    height: 100%;
    width: 100%;
    position:   absolute;
    background-color: rgba(255, 245, 225, 0);
    transition: 0.3s;
}
#col-menu .layer:hover{
    background-color: rgba(248, 243, 232, 0.247);
}
#col-menu h1{
    padding: 0px 0px 0px 0px;
    line-height: 5px;
    margin: 2vw;
}
#col-menu h1 a{
    /*using vw units keeps the relative font size constant ;)*/
    color: black;
    text-decoration: none;
    transition: 200ms;
    font-size   :   3.0vw;
    text-shadow: none;
}

/*The old shadows (which look great if you ever don't want them randomly generating*/
/* #col-menu h1 a:hover{
    text-shadow: 4px 4px rgba(0, 255, 213, 0.616),16px 16px rgba(251, 255, 0, 0.616), -5px 10px rgba(251, 255, 0, 0.616), 40px 40px rgba(251, 255, 0, 0.616);
    color: rgba(105, 59, 211, 0.438);
} */

.menu-header{
    font-size: 1.2vw;
    padding-left   :10px;
}
.menu-link a{
    color: rgba(0, 0, 0, 0.747);
    text-decoration: none;
    font-size : 2.5vw;
    font-style: normal;
    font-weight: bold;
    transition: 0.05s;
    padding   : 0px 0px 0px 3vw;
}
.menu-link a:hover{
    text-shadow: 2px 2px red ;
    font-style: oblique;
    padding-left: 50px;
    color: rgba(105, 59, 211, 0.438);
}

/*for the button*/
#style-change{
    position: absolute;
    bottom: 30px;
    left: 3vw;
    max-width: 10vw;

    background-color: rgba(255, 255, 255, 0);
    border: none;
    color:rgba(255, 255, 255, 0.781);
    text-align: left;
    font-style:oblique;
}
#style-change:hover{
    color:rgba(43, 0, 145, 0.781);
}

/*for the art displays -- 40%*/
#col-art{
    width: 40%;
    height:100vh;
}
.column .art-img img{
    padding         : 40px 40px 40px 40px;
    height          : auto;
    max-height: 100vh;
    max-width   : 100%;
    visibility  : hidden;
}

/*for the description+bio stuff -- 20%*/
#col-desc{
    min-width:20%;
    height: 100vh;
}
/*for the side links -- 20%*/
#col-links{
    height:100vh;
    width: 20%;
    background-color: rgb(255, 255, 255);

}
#baby-pic{
    margin      : 10px;
    max-width   : 80%;
}

/*for the soundcloud+mp3 stuff -- */
#col-mp3s{
    width: 70%;
}

#col-gallery{
    width: 70%;
}

#col-gallery img{
    height: 100vh;
}

/*this was for the img gallery stuff*/
.row{
    display     : flex;
    flex-wrap   : nowrap;
    padding     : 0;
}
.column{
    flex        : 100%;
    flex-wrap   : nowrap;
    max-width   : 100%;
    padding     : 0;
    float       : left;
}


